@charset "UTF-8";
@font-face{
    font-family: 'FontePixel';
    src: url('../fonts/8-bit-pusab.ttf');
}

p, h2{
    font-family: 'FontePixel';
}

* {
    padding: 0;
    margin: 0;
}

#botaoFechar {
    position: relative;
    cursor: pointer;
    top: -155px;
    left: 164px;
    height: 50px;
    width: 50px;
    transition: all 300ms ease;
}

#botaoFechar:hover{
    transform: scale(90%);
}

#passiva{
    font-size: 10px;
    position: relative;
    top: -268px;
    left: 180px;
    width: 160px;
    margin-top: 15px;
}

#passivaT{
    position: relative;
    top: -260px;
    left: 180px;
    width: 160px;
    margin-top: 15px;
    font-family: 'FontePixel';
    font-size: 12px;
}

#infoPersonagem{
    margin: 10px;
    width: 350px;
    height: 340px;
}

#imgCarta{
    display: inline-block;
    width: 173px;
}

#level{
    width: 150px;
    font-size: 15px;
    position: relative;
    top: -200px;
    left: 180px;
}   

#infos{
    height: 196px;
}

#idCarta{
    font-size: 12px;
    position: relative;
    top: -195px;
    left: 180px;
}

#forcaBarraFundo{
    /*color: rgb(255, 166, 0);*/
    color: white;
    text-shadow: 2px 2px #000000;
    font-size: 12px;
    text-align: center;
    width: 173px;
    height: 30px;
    background-color: #cccccc;
    margin-bottom: 5px;
}

#forcaBarra{
    transition: all 300ms ease;
    width: 85%;
    height: 100%;
    background-color: #209e2aea;  
}

#forca{
    position: absolute;
    margin-top: 2px;
    margin-left: 39px;
}

#forcaTxt{
    position: sticky;
    padding-top: 3px;
    margin-left: 60px;
}

#defesaBarraFundo{
    /*color: rgb(255, 166, 0);*/
    color: white;
    text-shadow: 2px 2px #000000;
    font-size: 12px;
    text-align: center;
    width: 173px;
    height: 30px;
    background-color: #cccccc;
    margin-bottom: 5px;
}

#defesaBarra{
    transition: all 300ms ease;
    width: 73%;
    height: 100%;
    background-color: #646464;  
}

#defesa{
    position: absolute;
    margin-top: 3px;
    margin-left: 40px;
}

#defesaTxt{
    position: sticky;
    padding-top: 3px;
    margin-left: 60px;
}

#magiaBarraFundo{
    /*color: rgb(255, 166, 0);*/
    color: white;
    text-shadow: 2px 2px #000000;
    font-size: 12px;
    text-align: center;
    width: 173px;
    height: 30px;
    background-color: #cccccc;
    margin-bottom: 5px;
}

#magiaBarra{
    transition: all 300ms ease;
    width: 10%;
    height: 100%;
    background-color: #1668c5;  
}

#magia{
    position: absolute;
    margin-top: 4px;
    margin-left: 35px;
}

#magiaTxt{
    position: sticky;
    padding-top: 3px;
    margin-left: 60px;
}

#hpBarraFundo{
    /* color: rgb(255, 166, 0); */
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #000000;
    font-size: 12px;
    text-align: center;
    width: 173px;
    height: 30px;
    background-color: #cccccc;
}

#hpBarra{
    transition: all 300ms ease;
    width: 60%;
    height: 100%;
    background-color: #d63620;  
}

#hp{
    position: absolute;
    margin-top: 6px;
    margin-left: 30px;
}

#hpTxt{
    position: sticky;
    padding-top: 3px;
    margin-left: 55px;
}

#addDeck{
    margin-top: 6px;
    cursor: pointer;
    text-align: center;
    color: white;
    font-size: 10.5px;
    width: 173px;
    height: 40px;
    background-color: #f04f3e;
    transition: all 300ms ease;
}

#addDeck:hover{
    transform: scale(95%);
}

#deckCarta1{
    width: 290px;
    height: 200px;
    position: relative;
    left: 20px;
    top: 13px;
}

#deckCarta2{
    width: 290px;
    height: 200px;
    position: relative;
    left: 365px;
    top: -185px;
}

#deckCarta3{
    width: 290px;
    height: 200px;
    position: relative;
    left: 700px;
    top: -385px;
}

#deckCarta1 img{
    width: 153px;
}

#deckCarta2 img{
    width: 153px;
}

#deckCarta3 img{
    width: 153px;
}

#deckCarta1 input{
    cursor: pointer;
    height: 30px;
    width: 130px;
    font-size: 8px;
    color: white;
    font-family: 'FontePixel';
    background-color: #f04f3e;
    border: none;
    position: relative;
    left: 158px;
    top: -63px;
    transition: all 300ms ease;
}

#deckCarta2 input{
    cursor: pointer;
    height: 30px;
    width: 130px;
    font-size: 8px;
    color: white;
    font-family: 'FontePixel';
    background-color: #f04f3e;
    border: none;
    position: relative;
    left: 158px;
    top: -63px;
    transition: all 300ms ease;
}

#deckCarta3 input{
    cursor: pointer;
    height: 30px;
    width: 130px;
    font-size: 8px;
    color: white;
    font-family: 'FontePixel';
    background-color: #f04f3e;
    border: none;
    position: relative;
    left: 158px;
    top: -63px;
    transition: all 300ms ease;
}

#numeracaoDeck{
    position: relative;
    top: -178px;
    left: 155px;
}

#numeracaoDeck2{
    position: relative;
    top: -178px;
    left: 155px;
}

#numeracaoDeck3{
    position: relative;
    top: -178px;
    left: 155px;
}

#deckCarta1 input:hover, #deckCarta2 input:hover, #deckCarta3 input:hover{
    transform: scale(95%);
}