@charset "UTF-8";
@font-face{
    font-family: 'FontePixel';
    src: url('../fonts/8-bit-pusab.ttf');
}

p, h2{
    font-family: 'FontePixel';
}

* {
    padding: 0;
    margin: 0;
}

#passiva{
    font-size: 8px;
    position: relative;
    top: -268px;
    left: 180px;
    width: 160px;
    margin-top: 15px;
}

#passivaT{
    position: relative;
    top: -260px;
    left: 180px;
    width: 160px;
    margin-top: 15px;
    font-family: 'FontePixel';
    font-size: 10px;
}

#infoPersonagem{
    margin: 10px;
    width: 350px;
    height: 340px;
    overflow:hidden;
}

#imgCarta{
    display: inline-block;
    width: 173px;
}

#level{
    font-size: 15px;
    position: relative;
    top: -200px;
    left: 180px;
}   

#infos{
    height: 196px;
}

#idCarta{
    font-size: 12px;
    position: relative;
    top: -195px;
    left: 180px;
}

#forcaBarraFundo{
    color: rgb(255, 166, 0);
    text-shadow: 2px 2px #000000;
    font-size: 12px;
    text-align: center;
    width: 173px;
    height: 30px;
    background-color: #cccccc;
    margin-bottom: 5px;
}

#forcaBarra{
    width: 85%;
    height: 100%;
    background-color: #161616;  
}

#forca{
    position: absolute;
    top: 207px;
    left: 40px;
}

#DefesaBarraFundo{
    color: rgb(255, 166, 0);
    text-shadow: 2px 2px #000000;
    font-size: 12px;
    text-align: center;
    width: 173px;
    height: 30px;
    background-color: #cccccc;
    margin-bottom: 5px;
}

#DefesaBarra{
    width: 73%;
    height: 100%;
    background-color: #161616;  
}

#defesa{
    position: absolute;
    top: 244px;
    left: 41px;
}

#MagiaBarraFundo{
    color: rgb(255, 166, 0);
    text-shadow: 2px 2px #000000;
    font-size: 12px;
    text-align: center;
    width: 173px;
    height: 30px;
    background-color: #cccccc;
    margin-bottom: 5px;
}

#MagiaBarra{
    width: 10%;
    height: 100%;
    background-color: #161616;  
}

#magia{
    position: absolute;
    top: 279px;
    left: 35px;
}

#HpBarraFundo{
    color: rgb(255, 166, 0);
    text-shadow: 2px 2px #000000;
    font-size: 12px;
    text-align: center;
    width: 173px;
    height: 30px;
    background-color: #cccccc;
}

#HpBarra{
    width: 60%;
    height: 100%;
    background-color: #161616;  
}

#hp{
    position: absolute;
    top: 314px;
    left: 35px;
}